
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    /*background-position: center;
    background-size: cover;*/
    background-image: url("../img/web-swapush/bg.png");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}

.w3-text-white {
  font-weight: bold;
}

.w3-display-left {
  padding: 48px !important;
}

@media screen and (max-width: 467px) {
  .w3-display-left {
    padding: 22px !important;
  }
  
  .w3-large {
    font-size: 16px !important;
  }

  .bgimg-1 {
    background-position: inherit;
    background-size: inherit;
  }
}